# Deployment
PRIVATE_KEY=your_private_key_here  # Required for Sepolia, not needed for Anvil

# RPC URLs
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/your_infura_key_here  # Required for Sepolia, not needed for Anvil

# API Keys
ETHERSCAN_API_KEY=your_etherscan_api_key_here  # Optional: Only needed for contract verification on Sepolia

# Root registry address
ROOT_REGISTRY_ADDRESS=0xB6bF4a45D5Ed1363C45BD0e4cbaDCcd48F8D3FaB

# Root verifier admin address
ROOT_VERIFIER_ADMIN_ADDRESS=0x1111111111111111111111111111111111111111

# Root verifier guardian address
ROOT_VERIFIER_GUARDIAN_ADDRESS=0x2222222222222222222222222222222222222222
